/* #region ||||| UTILITIES ||||| */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed;
  ;
}


:root {
  --responsive-dark: rgba(51, 51, 51, 1);
  --responsive-light: rgba(255, 255, 255, 1);
  --responsive-primary: rgba(151, 146, 228, 1);
  --responsive-secondary: rgba(0, 132, 253, 1);
  --responsive-accent: rgba(253, 193, 95, 1);
}

.d_flex {
  display: flex;
}

.flex_items_center {
  justify-content: center;
  align-items: center;
}

.flex_space_between {
  justify-content: space-between;
  align-items: center;
}

.flex_spacing {
  gap: 2rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col_4 {
  width: calc((100% / 12) * 4);
}

.col_8 {
  width: calc((100% / 12) * 8);
}

.col_12 {
  width: 100%;
}

.hide {
  display: none;
}

.visualize {
  display: inline;
}

.p-1 {
  padding: 1rem 0;
}


/* #endregion ||||| UTILITIES ||||| */
/* #region ||||| DEBUG RULES ||||| */

.col_12 {
  background-color: var(--responsive-primary);
  height: 500px
}

/* #endregion ||||| DEBUG RULES ||||| */

/* #region ||||| COMMON RULES ||||| */

body {
  font-family: 'Open Sans', sans-serif;
}

[class^="col_"] {
  padding: 1rem;
}

.btn {
  background-color: var(--responsive-light);
  color: var(--responsive-dark);
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
}

.links {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: var(--responsive-light);
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| HEADER ||||| */

#site_header {
  background-color: var(--responsive-secondary);
}

.hamburger_menu {
  color: var(--responsive-light);
}

/* #endregion ||||| HEADER ||||| */

/* #region ||||| MAIN ||||| */
/* #endregion ||||| MAIN ||||| */

/* #region ||||| FOOTER ||||| */
/* #endregion ||||| FOOTER ||||| */

/* #region ||||| MEDIA QUERY ||||| */

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
  .hide_md {
    display: none;
  }

  .col_sm_4 {
    width: calc((100% / 12) * 4);
  }

  .col_sm_8 {
    width: calc((100% / 12) * 8);
  }

}

@media screen and (min-width: 1200px) {
  .hide_lg {
    display: none;
  }

  .visualize_lg {
    display: flex;
  }
}

/* #endregion ||||| MEDIA QUERY ||||| */