/* #region ||||| UTILITIES ||||| */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed;
  ;
}

:root {
  --responsive-dark: rgba(51, 51, 51, 1);
  --responsive-light: rgba(255, 255, 255, 1);
  --responsive-primary: rgba(151, 146, 228, 1);
  --responsive-secondary: rgba(0, 132, 253, 1);
  --responsive-card_bg: rgba(181, 221, 255, 1);
  --responsive-accent: rgba(253, 193, 95, 1);
}

.d_flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
  align-items: flex-start;
}

.flex_items_center {
  justify-content: center;
  align-items: center;
}

.flex_space_between {
  justify-content: space-between;
  align-items: center;
}

.flex_spacing {
  gap: 2rem;
}

.text_center {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col_4 {
  width: calc((100% / 12) * 4);
}

.col_5 {
  width: calc((100% / 12) * 5);
}

.col_6 {
  width: calc((100% / 12) * 6);
}

.col_7 {
  width: calc((100% / 12) * 7);
}

.col_8 {
  width: calc((100% / 12) * 8);
}

.col_12 {
  width: 100%;
}

.hide {
  display: none;
}

.visualize {
  display: inline;
}

.p-1_top_bottom {
  padding: 1rem 0;
}

/* #endregion ||||| UTILITIES ||||| */


/* #region ||||| DEBUG RULES ||||| */

/* .col_12 {
  background-color: var(--responsive-secondary);
  height: 500px
} */

.strategic_planning .col_12,
.work_with_us .col_12,
.cta .col_12 {
  background-color: var(--responsive-light);
}

/* #endregion ||||| DEBUG RULES ||||| */


/* #region ||||| COMMON RULES ||||| */

[class^="col_"] {
  padding: 1rem;
}

body {
  font-family: 'PT Sans', sans-serif;
}

h6 {
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  background-color: var(--responsive-card_bg);
  border-radius: 1.5rem;
  padding: 2rem;
  height: 100%;
}

.btn {
  background-color: var(--responsive-light);
  color: var(--responsive-dark);
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
}

.cta_btn {
  font-size: 1rem;
  background: var(--responsive-secondary);
  padding: 0.7rem 4rem;
  color: var(--responsive-light);
}

.links {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: var(--responsive-light);
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| HEADER ||||| */

#site_header {
  background-color: var(--responsive-secondary);
}

.hamburger_menu {
  color: var(--responsive-light);
}

/* #endregion ||||| HEADER ||||| */


/* #region ||||| MAIN ||||| */

.card img {
  width: 100%;
  padding-top: 1rem;
  margin-bottom: -2rem;
}

.card_icon {
  font-size: 4.5rem;
}

.card_icon,
.card h6 {
  color: var(--responsive-secondary);
}

.card.text_center h6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.card.text_center .strategic_planning,
.work_with_us,
.cta {
  background-color: var(--responsive-primary);
}

/* #endregion ||||| MAIN ||||| */


/* #region ||||| FOOTER ||||| */

#site_footer {
  background-color: var(--responsive-dark);
}

/* #endregion ||||| FOOTER ||||| */


/* #region ||||| MEDIA QUERY ||||| */

/* Tablet visualization */

@media screen and (min-width: 768px) {
  .hide_md {
    display: none;
  }

  .col_md_4 {
    width: calc((100% / 12) * 4);
  }

  .col_md_5 {
    width: calc((100% / 12) * 5);
  }

  .col_md_6 {
    width: calc((100% / 12) * 6);
  }

  .col_md_7 {
    width: calc((100% / 12) * 7);
  }

  .col_md_8 {
    width: calc((100% / 12) * 8);
  }

}

/* Desktop visualization */

@media screen and (min-width: 992px) {
  .hide_lg {
    display: none;
  }

  .visualize_lg {
    display: flex;
  }

  .col_lg_4 {
    width: calc((100% / 12) * 4);
  }

  .col_lg_6 {
    width: calc((100% / 12) * 6);
  }

  .col_lg_8 {
    width: calc((100% / 12) * 8);
  }
}

/* #endregion ||||| MEDIA QUERY ||||| */