/* #region ||||| UTILITIES ||||| */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed; */
}

:root {
  --responsive-dark: rgba(51, 51, 51, 1);
  --responsive-light: rgba(255, 255, 255, 1);
  --responsive-primary: rgba(151, 146, 228, 1);
  --responsive-secondary: rgba(0, 132, 253, 1);
  --responsive-card_bg: rgba(181, 221, 255, 1);
  --responsive-accent: rgba(253, 193, 95, 1);
  --responsive-font_color: rgba(90, 110, 127, 1);
}

.d_flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
  align-items: flex-start;
}

.flex_items_center {
  align-items: center;
}

.flex_space_between {
  justify-content: space-between;
  align-items: center;
}

.flex_spacing {
  gap: 2rem;
}

.text_center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  padding: 3rem 2.5rem 4rem;
  gap: 1.5rem;
}

.col_4 {
  width: calc((100% / 12) * 4);
}

.col_5 {
  width: calc((100% / 12) * 5);
}

.col_6 {
  width: calc((100% / 12) * 6);
}

.col_7 {
  width: calc((100% / 12) * 7);
}

.col_8 {
  width: calc((100% / 12) * 8);
}

.col_12 {
  width: 100%;
}

.hide {
  display: none;
}

.visualize {
  display: inline;
}

.p-1 {
  padding: 1rem 1rem;
}

.p-1_top_bottom {
  padding: 1rem 0;
}

.p-2_top_bottom {
  padding: 2rem 0;
}

.p-1_bottom {
  padding-bottom: 1rem;
}

.p-2_bottom {
  padding-bottom: 2rem;
}

/* #endregion ||||| UTILITIES ||||| */


/* #region ||||| DEBUG RULES ||||| */

/* .col_12 {
  background-color: var(--responsive-secondary);
  height: 500px
} */
/* 
.strategic_planning .col_12,
.work_with_us .col_12,
.cta .col_12 {
  background-color: var(--responsive-primary);
} */

/* #endregion ||||| DEBUG RULES ||||| */


/* #region ||||| COMMON RULES ||||| */

/* [class^="col_"] {
  padding: 3rem 2.5rem 1rem 2.5rem;
} */

body {
  font-family: 'PT Sans', sans-serif;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  line-height: 1.5rem;
}

.btn {
  background-color: var(--responsive-light);
  color: var(--responsive-dark);
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
}

.cta_btn {
  font-size: 0.9rem;
  background: var(--responsive-secondary);
  padding: 0.8rem 3rem;
  color: var(--responsive-light);
  letter-spacing: 0.2rem;
}

.round_btn {
  background-color: var(--responsive-primary);
  color: var(--responsive-dark);
  border: none;
  border-radius: 100%;
  padding: 1rem 1.1rem;
}

.links {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: var(--responsive-light);
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| HEADER ||||| */

#site_header {
  background-color: var(--responsive-secondary);
}

.hamburger_menu {
  color: var(--responsive-light);
}

/* #endregion ||||| HEADER ||||| */


/* #region ||||| MAIN ||||| */

.demo_app {

  .card {
    background-color: var(--responsive-card_bg);
    border-radius: 1.2rem;
    padding: 2rem;
    height: 100%;
    flex-wrap: wrap;

    img {
      width: 100%;
      padding-top: 2rem;
      margin-bottom: -2rem;
    }

    h4 {
      color: var(--responsive-secondary);
    }

    p {
      font-weight: 600;
      color: var(--responsive-font_color);
    }

    &.text_center h4 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

  }
}

.strategic_planning {
  background-color: var(--responsive-primary);

  img {
    width: 100%;
  }

  h3 {
    color: var(--responsive-light);
    padding-top: 4rem;
    padding-bottom: 2.5rem;
  }

  p {
    color: var(--responsive-light);
  }

  .row {
    padding: 4rem 2.5rem 3rem;
  }

  .card {
    background-color: var(--responsive-light);
    border-radius: 3rem;
    padding: 1rem;

    h4,
    p {
      color: var(--responsive-dark);
    }

    p {
      font-size: 1.1rem;
    }
  }
}


.card_icon {
  font-size: 4.5rem;
  color: var(--responsive-secondary);
}

/* #endregion ||||| MAIN ||||| */


/* #region ||||| FOOTER ||||| */

#site_footer {
  background-color: var(--responsive-dark);
}

/* #endregion ||||| FOOTER ||||| */


/* #region ||||| MEDIA QUERY ||||| */

/* Tablet visualization */

@media screen and (min-width: 768px) {
  .hide_md {
    display: none;
  }

  .col_md_3 {
    width: calc((100% / 12) * 3);
  }

  .col_md_4 {
    width: calc((100% / 12) * 4);
  }

  .col_md_5 {
    width: calc((100% / 12) * 5);
  }

  .col_md_6 {
    width: calc((100% / 12) * 6);
  }

  .col_md_7 {
    width: calc((100% / 12) * 7);
  }

  .col_md_8 {
    width: calc((100% / 12) * 8);
    padding: 0 0.75rem 1.5rem 2rem;
  }

  .col_md_4:nth-child(2) {
    padding: 0 2rem 1.5rem 0.75rem;
  }

  .col_md_4:nth-child(3) {
    padding: 0 0.75rem 0 2rem;
  }

  .col_md_4:nth-child(4) {
    padding: 0 0.75rem 0 0.75rem;
  }

  .col_md_4:nth-child(5) {
    padding: 0 2rem 0 0.75rem;
  }

  .row {
    gap: 0;
    padding: 3rem 0 6rem 0;
    margin: 0;
  }

  .demo_app .card {
    padding: 2rem 1.5rem;

    img {
      width: 50%;
    }

    p {
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }

  p.p-1_top_bottom {
    padding: 2rem 0;
  }

  .cta_btn {
    border-radius: 1.2rem;
  }

}

/* Desktop visualization */

@media screen and (min-width: 992px) {
  .hide_lg {
    display: none;
  }

  .visualize_lg {
    display: flex;
  }

  .col_lg_4 {
    width: calc((100% / 12) * 4);
  }

  .col_lg_6 {
    width: calc((100% / 12) * 6);
  }

  .col_lg_8 {
    width: calc((100% / 12) * 8);
  }

  .demo_app .card {
    flex-wrap: nowrap;

    img {
      width: 35%;
    }

    .section {
      flex-basis: 60%;
    }

    p:first-child {
      padding-right: 2.5rem;
    }
  }

  /* .demo_app .card:first-child {
    padding: 2rem 4rem 0 2rem;
    
    p {
      padding-right: 4rem;
    }
  } */
}

/* #endregion ||||| MEDIA QUERY ||||| */